body {
    font-family: Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#files-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    padding: auto;
    flex: 1 0 auto;
}

.each-file-box {
    flex: 1 1 300px;
    margin: 10px;
    max-width: 100%;
    width: 80vw;
    justify-content: center;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background-color: white;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .each-file-box{
        width: 40vw;
    }
    }

.file-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.file-icon-wrapper {
    margin-right: 1rem;
    color: #6b7280;
    background-color: #f3f4f6;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    position: relative;
}

.file-icon {
    font-size: 2rem;
    margin-bottom: 0.25rem;
}

.file-type {
    font-size: 0.625rem;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom: 0.25rem;
}

.file-name {
    font-weight: bold;
    font-size: 1.25rem;
    word-break: break-word;
}

.file-details {
    color: #4b5563;
    font-size: 0.875rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    margin: 5px;
    font-size: 0.875rem;
}

.button-preview {
    background-color: #0067B8;
}

.button-preview:hover {
    background-color: #2563eb;
}

.button-download {
    background-color: #10b981;
}

.button-download:hover {
    background-color: #059669;
}

.button i {
    margin-right: 0.5rem;
}

a {
    text-decoration: none;
}


.delete-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ef4444;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto 20px auto;

}

.delete-button:hover {
    background-color: #dc2626;
}

.delete-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.5);
}

.delete-button svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.delete-button:hover svg {
    transform: scale(1.1);
}

.deleteButton{
  display: flex;
  align-items: center;
}